* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(39, 118, 80);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

body {
    font-family: Sans-Serif;
}
/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(41, 82, 109);
    color: #fff;
}

.side-title,
.side-tagline {
    margin: 0;
}
.side-tagline {
    font-weight: 500;
    color: rgb(176, 202, 219);
}


.content {
    padding: 2em 1em 0;
}


@media (min-width: 48em) {
    .main {
        position: relative;
        padding: 2em 3em 0;
        margin-left: 30%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
    }

    .content {
        position: relative;
        width: 100%;
    }
}