<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    {% block head %}
        <title>{% block title %}{% endblock %} - Hive Mind Playlists</title>
    {% endblock %}
</head>
<body>
<div id="content">
    <div class="sidebar">
        <div class="header">
            <h2 class="brand-title">HiveMindPlaylists</h2>
            <h3 class="brand-tagline"><a href="http://ask.metafilter.com/tags/songs+recommendations">AskMetafilter</a> music recommendations <br><small>(via spotify)</small></h3>
        </div>
    </div>
    <div class="main">{% block content %}{% endblock %}</div>
    <div class="footer">{% block footer %}{% endblock %}</div>
</div>
</body>
</html>
