{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<p>
    Ask Metafilter is a wonderful community of question askers and answerers. Sometimes, people ask for song recommendations.
</p>
<p>You can point me at a song recommendation thread, and I will search spotify for the songs in that thread.</p>
<p>
    Enter the id of the Ask Metafilter question you'd like to convert to a playlist. The ID is the part just after `ask.metafilter.com/`
</p>
<form action="." method="POST">
    <input type="url" name="ask_me_url">
    <input type="submit" name="my-form" value="Build Playlist">
</form>
{% endblock %}
