{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<p>
    Ask Metafilter is a wonderful community of question askers and answerers. Sometimes, people ask for song recommendations.
</p>
<p>
    You can point me at a song recommendation thread, and I will search spotify for the songs in that thread.
</p>
<p>
    Enter the URL of the Ask Metafilter question you'd like to scan for song recommendations.
</p>
<form action="." method="POST" novalidate>
    <input type="url" size="80" name="ask_me_url" required>
    <input type="submit" name="my-form" value="Build Playlist">
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $(function() {
        $body = $("body");

        // Initiates an AJAX request on click
        $("input[name='my-form']").click(function(){
            $body.addClass("loading");
        });

    });
</script>
<div class="modal"></div>
{% endblock %}
