{% extends "base.html" %}
{% block title %}Recommendations Found{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}
{% block content %}
{% if items|length > 1 %}
    <h1>Song recommendations from <a href={{ question.url }}>{{ question.posttitle }}</a></h1>
    <iframe src={{ srclink }} width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
<p> I found {{ items|length }} songs reccomended in that thread:</p>
    <ul id="navigation">
        {% for item in items %}
        <li><a href={{ item.uri }}>{{ item }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>Damn, I couldn't find any song recommendations at that link, sorry!</p>
{% endif %}
{% endblock %}
