{% extends "base.html" %}
{% block title %}Recommendations Found{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}
{% block content %}
{% if items|length > 1 %}
    <h1>Song recommendations from <a href={{ question.url }}>{{ question.posttitle }}</a></h1>
<p> I found {{ items|length }} songs reccomended in that thread:</p>
    <ul id="navigation">
        {% for item in items %}
        <li><a href={{ item.uri }}>{{ item }}</a></li>
        {% endfor %}
    </ul>
    <div>Click <a href={{ url_for('redirect_for_playlist') }}>here</a> to log in and turn this into a Spotify playlist</div>
{% else %}
    <p>Damn, I couldn't find any song recommendations at that link, sorry!</p>
{% endif %}
<br>
{% endblock %}
